.post-card{
  .edit{
    i{
      &:hover{
        color: darkgreen !important;
      }
    }
    .delete{
      i{
        &:hover{
          color: red !important;
        }
      }
    }
  }
  .userName{
    color: white;
    &:hover{
      color: darkgreen;
    }
  }
}