{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ 'entity.post.form.edit.h1'|trans({'%thread%': subject}) }}</h1>
            </div>
            <div class="col-12">
                {% include "forms/index.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

